.expenseItem {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #4db8ff;
    margin: auto;
    margin-top: 5%;
    padding: 1%;
}

.price {
    font-weight: 800;
    color: white;
    justify-content: space-evenly;
    width: 10%;
    max-width: 10%;
    display: flex;
    align-items: center;
    background-color: #0073e6;
    padding: 1%;
    text-align: center;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.item {
    display: flex;
    align-items: center;
    margin-left: -60%;
    font-weight: 800;
}